html{
    scroll-behavior: smooth;
}
body{
    background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)), url('./assets/images/palm-trees-g71dc65ac0_1920.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Times New Roman', Times, serif;
}
.top{
    display: flex;
    height: 10vh;
}
.top_left{
width: 50%;
display: flex;
align-items: center;
}
.top_left h2{
    color: #f1ff95;
    margin-left: 10%;
    font-size: 40px;
}
.top_right{
    width:50%;
    display: flex;
align-items: center;
    
}
.top_right button{

    margin-right: 10px;
    border: unset;
    background-color: transparent;
    color: #ffffff;
    font-weight: bold;
    cursor: pointer;
    font-size: 20px;
}
.middle{
    display: flex;
}
.middle_left{
width: 50%;
}
.middle_right{
    width: 50%;
    
}
.middle_right h1{
    color: #ffffff;
    letter-spacing: 2px;

}

.middle_right form{
    width: 70%;
    height: auto;
    background-color: #ffffff;
    display: flex;
    padding: 50px 0px 50px 0px;
}
label{
    color: #000000;
    margin-left: 5%;
    font-size: 25px;
}
.inputFields{
    height: 25px;
    width: 90%;
    margin-left: 5%;
}
#btn{
background-color: #63c54b;
width:110px;
color: #ffffff;
padding: 10px;
height:30;
border: unset;
border-radius: 10px;
margin-left: 5%;
cursor: pointer;
}

.input_left{
    width: 50%;
}
.input_right{
    width: 50%;
}

